openapi: "3.0.2"
info:
  title: Alivepools
  version: "1.0"
servers:
  - url: https://alivepools.io/api/
paths:
  /user/signin:
    post:
      tags:
        - User Authentication
      summary: Generate one time password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: OTP sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "400":
          description: Bad request
  /user/signin/confirmation:
    post:
      tags:
        - User Authentication
      summary: Confirm one time password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                otp:
                  type: string
      responses:
        "200":
          description: Sign-in successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        "401":
          description: Unauthorized
  /domain:
    get:
      tags:
        - Domain (appliable to unauthorized and authorized users)
      summary: Get domain
      responses:
        "200":
          description: Domain information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  info:
                    type: string
        "404":
          description: Not found
  /task/{taskId}:
    get:
      tags:
        - "Task"
      summary: Get task by ID
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Task details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "404":
          description: Task not found
    put:
      tags:
        - "Task"
      summary: Update task by ID
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Task"
      responses:
        "200":
          description: Task updated successfully
    delete:
      tags:
        - "Task"
      summary: Delete task by ID
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Task deleted successfully
  /tasks:
    get:
      tags:
        - "Task"
      summary: Get all tasks
      responses:
        "200":
          description: Tasks list retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"
    post:
      tags:
        - "Task"
      summary: Create a new task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Task"
      responses:
        "200":
          description: New task created successfully
components:
  schemas:
    Task:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
security:
  - bearerAuth: []
