[Unit]
Description=AlivePools Backend Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/alivepools-backend
Environment="PATH=/root/alivepools-backend/venv/bin"
ExecStart=/root/alivepools-backend/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 alivepools-backend:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
